.footer {
  padding: 2rem 0;
  background: var(--lightGrey);
  font-size: 1.2rem;
}

.footer a {
  color: black;
  text-decoration: none;
}
.img-social{
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  display: inline-block;
  /* background: lightblue; */
  transition: 0.3s ease all;
  margin: 2px 2rem; 
    
 }
 .social-container >svg
 {
fill: var(--primary)!important;
    
 }
.img-social:hover {
  height: 2.7rem;
  width: 2.7rem;
}

.img-social:hover .SVGIcon--icon {
  background: purple;
}
.social-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
