.PageHeader {
  background-color: var(--darkGrey);
  color: var(--lightGrey);
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.9;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 5rem;
  margin-bottom: 0;
  text-shadow: 5px 5px 3px #333;
  
}


.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  text-shadow: 5px 5px 3px #333;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
  .PageHeader--Title {
    font-size: 3rem;
    
  }
  .PageHeader--Subtitle {
     font-size: 1.3rem;
    
  }
  
}
