.PageHeader {
  background-color: var(--darkGrey);
  color: var(--lightGrey);
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.9;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
  text-shadow: 5px 5px 3px #333;
  
}
.PageHeader--Title {
  
  font-size: 6rem;
  margin-bottom: 0;
  

}
.span-header{
  background-color: rgba(127, 32, 176, 0.6);
}
.PageHeader--Subtitle  span{
  background-color: rgba(127, 32, 176, 0.6);
}
.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  text-shadow: 5px 5px 3px #333;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
